.page {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: #EBEBED;
	overflow-y: auto;
}
.page-wrap {
	display: flex;
	flex-direction: row;
	padding: 10px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.page-container {
	width: 100%;
	flex: 1;
}

.flex-row {
	display: flex;
	flex-direction: row;
}
.justify-between {
	justify-content: space-between;
}
.w-100 {
	width: 100%;
}
.space-around {
	justify-content: space-around;
}